# Android Studio / IntelliJ
.idea/

# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties

# APK / release files
*.apk
app/release/

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# OS files
.DS_Store

# IntelliJ
*.iml
# Firebase
google-services.json
